In [22]:
import pandas as pd
import glob
import json
from datetime import datetime

In [27]:
now = datetime.now().strftime("%d_%m_%Y")

In [5]:
#index all json files in the jsondump directory
json_files = glob.glob('jsondump/*.json')

list

In [19]:
# json_data to pd.dataframe

li_df = []

for i in range(len(json_files)):
    open_json = open(json_files[i], 'r').read()
    open_json = json.loads(open_json)
    li_df.append(pd.DataFrame(open_json.get('messwerte')))

df = pd.concat(li_df, axis=0, ignore_index=True)
df['zeitpunkt'] = pd.to_datetime(df['zeitpunkt'], unit='ms')

df.head()

            zeitpunkt station komponente mittelwert einheit messwert
0 2023-11-18 16:30:00    S425        BOE        HMW     m/s   1,6604
1 2023-11-18 17:00:00    S425        BOE        HMW     m/s  0,87389
2 2023-11-18 17:30:00    S425        BOE        HMW     m/s   1,7478
3 2023-11-18 18:00:00    S425        BOE        HMW     m/s   1,9226
4 2023-11-18 18:30:00    S425        BOE        HMW     m/s   1,6604

In [20]:
df.shape

(386336, 6)

In [28]:
df.to_json("jsondump/"+now+"_all.json", orient="records")